In [13]:
from clean2 import *

import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [16]:
df = data_wrangling()
tmp = df.groupby(
        ["C/A", "UNIT", "SCP", "STATION", "DATE", "AMPM", "DAY_NAME"], as_index=False
    ).ENTRIES.max()

##
t = df.groupby(
    ["C/A", "UNIT", "SCP", "STATION", "DATE", "AMPM", "DAY_NAME"], as_index=False
).EXITS.max()
tmp["EXITS"] = t["EXITS"]

# create prev_date and prev_entries cols by shifting these columns forward one day
# if shifting date and entries, don't group by date
tmp[["PREV_DATE", "PREV_ENTRIES", "PREV_EXITS"]] = tmp.groupby(
    ["C/A", "UNIT", "SCP", "STATION", "AMPM"]
)[["DATE", "ENTRIES", "EXITS"]].apply(lambda grp: grp.shift(1))

# Drop the rows for the earliest date in the df, which are now NaNs for prev_date and prev_entries cols
tmp.dropna(subset=["PREV_DATE"], axis=0, inplace=True)

tmp = get_tmp_entries(df)

In [4]:
df.sample(10, random_state=10)

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,AMPM,DAY_NAME
178257,2016-09-08 12:00:00,R527,R122,00-03-03,90 ST-ELMHURST,7,IRT,09/08/2016,12:00:00,1234777,400728,PM,Thursday
77707,2016-09-08 13:00:00,N310,R140,01-06-01,QUEENS PLAZA,EMR,IND,09/08/2016,13:00:00,1128183,1135648,PM,Thursday
36439,2016-09-14 13:00:00,J007,R377,00-00-02,FLUSHING AV,JM,BMT,09/14/2016,13:00:00,2817479,504020,PM,Wednesday
21260,2016-09-04 12:00:00,C012,R258,01-03-01,4AV-9 ST,DFGMNR,BMT,09/04/2016,12:00:00,1622601,533083,PM,Sunday
141285,2016-09-04 06:00:00,R204A,R043,03-06-01,WALL ST,45,IRT,09/04/2016,06:00:00,1333815,2971917,AM,Sunday
178758,2016-09-08 00:00:00,R528,R097,00-05-01,JUNCTION BLVD,7,IRT,09/08/2016,00:00:00,3414515,3813419,AM,Thursday
69677,2016-09-11 04:22:00,N203,R195,00-03-00,161/YANKEE STAD,BD4,IND,09/11/2016,04:22:00,5301848,2094275,AM,Sunday
144507,2016-09-11 17:00:00,R227A,R131,01-06-00,23 ST,6,IRT,09/11/2016,17:00:00,2919630,2769335,PM,Sunday
176134,2016-09-06 16:00:00,R520,R223,01-05-00,46 ST BLISS ST,7,IRT,09/06/2016,16:00:00,1734,0,PM,Tuesday
78516,2016-08-30 21:00:00,N316A,R267,01-03-01,46 ST,MR,IND,08/30/2016,21:00:00,1923047,6149191,PM,Tuesday

In [11]:
tmp.sample(10, random_state=10)

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,AMPM,DAY_NAME
178257,2016-09-08 12:00:00,R527,R122,00-03-03,90 ST-ELMHURST,7,IRT,09/08/2016,12:00:00,1234777,400728,PM,Thursday
77707,2016-09-08 13:00:00,N310,R140,01-06-01,QUEENS PLAZA,EMR,IND,09/08/2016,13:00:00,1128183,1135648,PM,Thursday
36439,2016-09-14 13:00:00,J007,R377,00-00-02,FLUSHING AV,JM,BMT,09/14/2016,13:00:00,2817479,504020,PM,Wednesday
21260,2016-09-04 12:00:00,C012,R258,01-03-01,4AV-9 ST,DFGMNR,BMT,09/04/2016,12:00:00,1622601,533083,PM,Sunday
141285,2016-09-04 06:00:00,R204A,R043,03-06-01,WALL ST,45,IRT,09/04/2016,06:00:00,1333815,2971917,AM,Sunday
178758,2016-09-08 00:00:00,R528,R097,00-05-01,JUNCTION BLVD,7,IRT,09/08/2016,00:00:00,3414515,3813419,AM,Thursday
69677,2016-09-11 04:22:00,N203,R195,00-03-00,161/YANKEE STAD,BD4,IND,09/11/2016,04:22:00,5301848,2094275,AM,Sunday
144507,2016-09-11 17:00:00,R227A,R131,01-06-00,23 ST,6,IRT,09/11/2016,17:00:00,2919630,2769335,PM,Sunday
176134,2016-09-06 16:00:00,R520,R223,01-05-00,46 ST BLISS ST,7,IRT,09/06/2016,16:00:00,1734,0,PM,Tuesday
78516,2016-08-30 21:00:00,N316A,R267,01-03-01,46 ST,MR,IND,08/30/2016,21:00:00,1923047,6149191,PM,Tuesday

In [8]:
by_day = df.groupby(by=["STATION", "DATE", "AMPM", "DAY_NAME"]).agg(max).reset_index()

In [9]:
by_day

,STATION,DATE,AMPM,DAY_NAME,DATE_TIME,C/A,UNIT,SCP,LINENAME,DIVISION,TIME,ENTRIES,EXITS
0,1 AV,08/27/2016,AM,Saturday,2016-08-27 08:00:00,H008,R248,01-00-04,L,BMT,08:00:00,952959771,997286596
1,1 AV,08/27/2016,PM,Saturday,2016-08-27 20:00:00,H008,R248,01-00-04,L,BMT,20:00:00,952961268,997287151
2,1 AV,08/28/2016,AM,Sunday,2016-08-28 08:00:00,H008,R248,01-00-04,L,BMT,08:00:00,952962284,997287438
3,1 AV,08/28/2016,PM,Sunday,2016-08-28 20:00:00,H008,R248,01-00-04,L,BMT,20:00:00,952963506,997288080
4,1 AV,08/29/2016,AM,Monday,2016-08-29 08:00:00,H008,R248,01-00-04,L,BMT,08:00:00,952964146,997288538
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15657,ZEREGA AV,09/14/2016,PM,Wednesday,2016-09-14 21:00:00,R419,R326,00-05-01,6,IRT,21:00:00,53093050,500011
15658,ZEREGA AV,09/15/2016,AM,Thursday,2016-09-15 09:00:00,R419,R326,00-05-01,6,IRT,09:00:00,53093229,500500
15659,ZEREGA AV,09/15/2016,PM,Thursday,2016-09-15 21:00:00,R419,R326,00-05-01,6,IRT,21:00:00,53093442,501417
15660,ZEREGA AV,09/16/2016,AM,Friday,2016-09-16 09:00:00,R419,R326,00-05-01,6,IRT,09:00:00,53093593,501864
15661,ZEREGA AV,09/16/2016,PM,Friday,2016-09-16 21:00:00,R419,R326,00-05-01,6,IRT,21:00:00,53093790,502767