In [1]:
from clean2 import *
# from clean2 import data_wrangling

In [2]:
# data wrangling
df = data_wrangling()
df

,DATE_TIME,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,ENTRIES,EXITS,AMPM,DAY_NAME
192877,2016-09-16 21:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,21:00:00,5554,271,PM,Friday
192876,2016-09-16 17:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,17:00:00,5554,271,PM,Friday
192875,2016-09-16 13:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,13:00:00,5554,271,PM,Friday
192874,2016-09-16 09:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,09:00:00,5554,271,AM,Friday
192873,2016-09-16 05:00:00,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,09/16/2016,05:00:00,5554,271,AM,Friday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2016-08-27 16:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,16:00:00,5799833,1966214,PM,Saturday
3,2016-08-27 12:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,12:00:00,5799610,1966155,PM,Saturday
2,2016-08-27 08:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,08:00:00,5799492,1966079,AM,Saturday
1,2016-08-27 04:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,04:00:00,5799463,1966044,AM,Saturday
0,2016-08-27 00:00:00,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,00:00:00,5799442,1966041,AM,Saturday

In [3]:
# get_daily_entries
daily_entries = get_daily_entries(df)
daily_entries

,C/A,UNIT,SCP,STATION,DATE,AMPM,DAY_NAME,ENTRIES,PREV_DATE,PREV_ENTRIES,DAILY_ENTRIES
14,A002,R051,02-00-00,59 ST,09/03/2016,AM,Saturday,5808900,08/27/2016,5799492.0,9408.0
15,A002,R051,02-00-00,59 ST,09/03/2016,PM,Saturday,5809522,08/27/2016,5800121.0,9401.0
16,A002,R051,02-00-00,59 ST,09/04/2016,AM,Sunday,5809694,08/28/2016,5800295.0,9399.0
17,A002,R051,02-00-00,59 ST,09/04/2016,PM,Sunday,5810188,08/28/2016,5800798.0,9390.0
18,A002,R051,02-00-00,59 ST,09/05/2016,AM,Monday,5810338,08/29/2016,5800996.0,9342.0
...,...,...,...,...,...,...,...,...,...,...,...
191888,TRAM2,R469,00-05-01,RIT-ROOSEVELT,09/14/2016,PM,Wednesday,5554,09/07/2016,5554.0,0.0
191889,TRAM2,R469,00-05-01,RIT-ROOSEVELT,09/15/2016,AM,Thursday,5554,09/08/2016,5554.0,0.0
191890,TRAM2,R469,00-05-01,RIT-ROOSEVELT,09/15/2016,PM,Thursday,5554,09/08/2016,5554.0,0.0
191891,TRAM2,R469,00-05-01,RIT-ROOSEVELT,09/16/2016,AM,Friday,5554,09/09/2016,5554.0,0.0
191892,TRAM2,R469,00-05-01,RIT-ROOSEVELT,09/16/2016,PM,Friday,5554,09/09/2016,5554.0,0.0